<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagerWeb</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagerWeb.styles.css" asp-append-version="true" />
</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand fw-semibold fs-4" asp-area="" asp-controller="Tasks" asp-action="Index">
                    TaskManagerWeb
                </a>
            </div>
        </nav>

    </header>

    <div class="d-flex container flex-grow-1">
        <main role="main" class="bg-white shadow-sm rounded p-4 flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted py-3 bg-light">
        <div class="container text-center">
            &copy; 2025 - Gustavo da Costa
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
