@model TaskItem;

@{
    ViewData["Title"] = "Editar Tarefa";
}

<a asp-action="Index" class="text-dark d-inline-block">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
    </svg>
</a>

<h2 class="display-6 fw-normal my-3">Editar Tarefa</h2>

<form asp-action="Edit">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" /> <!-- Campo oculto para manter o ID -->

    <div class="form-group">
        <label asp-for="Description" class="control-label mb-2">Descrição</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger d-block mt-2"></span>
    </div>

    <div class="form-group form-check mt-2">
        <input asp-for="IsCompleted" class="form-check-input" />
        <label asp-for="IsCompleted" class="form-check-label">Concluída</label>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Cancelar</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
