@{
    ViewData["Title"] = "Tarefas";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center">Lista de Tarefas</h1>

    <div id="tasks-container" class="mt-4">
        <!-- As tarefas serão carregadas aqui dinamicamente -->
    </div>

    <div id="add-task-container" class="mt-4 d-flex justify-content-end">
        <button id="btn-show-form" class="btn btn-primary">+ Nova Tarefa</button>
    </div>

</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteLabel">Excluir tarefa?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body" id="confirmDeleteBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnConfirmDelete">Excluir</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/tasks.js" asp-append-version="true"></script>
    <script src="~/js/addTask.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}