html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

span:empty {
  display: none;
}

.task-hover:hover .task-actions {
    display: flex !important;
}

.task-list li:not(:last-child) {
    border-bottom: 1px solid #dee2e6;
}